
      <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-740c5a15-35f7-49af-92f4-54e7b2f02126;AttachDbFilename=|DataDirectory|\aspnet-Website-740c5a15-35f7-49af-92f4-54e7b2f02126.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
        <add name="ChinnokDB" connectionString="DataSorce=.;Initial Catalog=Chinook; Integrated Security=true" 
             providerName="System.Data.SqlClient"/>
      </connectionStrings>

